.crystal-image {
    width: 150px;
    height: 150px;
}

*{
    box-sizing: border-box;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
    width: 100%;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    color: white;
    background: url("../images/mineshaft.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 15px;
    margin-top: 15px;
    color: darkorange;
    text-shadow: -1px -1px 0 tan,
    1px -1px 0 tan,
    -1px 1px 0 tan,
    1px 1px 0 tan;
}

.game {
    max-width: 960px;
    padding: 10px;
}

.score {
    padding-top: 20px;
}

#subHeader, 
#numToMatch, 
#score,
#winBlock,
#lossBlock {
    color: darkorange;
    font-weight: bold;
}

#targetText, 
#winText,
#lossText,
#scoreText {
    color: white;
}

.crystal-image, .crystal-button{
   background: transparent;
   border: 0px;
   cursor: pointer;
}

#header {
    font-size: 80px;
}

.info {
    background-image: url(../images/scroll.png);
    background-position: center;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 20px;
    opacity: .8;
}

 ul, li {
    text-shadow: none;
    color: black;
} 

 #instructions, #subHeader {
    opacity: 1; 
}

@media (max-width: 768px) {
    .info {
        background: none;
    }
    li {
        color: white;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
}

