.crystal-image {
    width: 150px;
    height: 150px;
}

*{
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
    width: 100%;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    color: white;
   
    background: url("../images/mineshaft.png");
    background-size: cover;
    background-attachment: fixed;
}

h1 { 
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 15px;
    margin-top: 15px;
    color: darkorange;
   
}

.game {
    max-width: 960px;
    padding: 10px;
}

.score {
    padding-top: 20px;
}

#subHeader, 
#numToMatch, 
#score,
#winBlock,
#lossBlock {
    color: darkorange;
    font-weight: bold;
}

#targetText, 
#winText,
#lossText,
#scoreText {
    color: white;
}
   



